body {
    background-color: #1f5e50;
    height: 500px;
    width: 500px;
    color:#d3f5ed;
}

.clear {
    border: black;
    margin-top: 10px;
    margin-left: 42%;
}

.left_assign {
    text-align: right;
}

td {
    width: 150px;
    font-size: 13px;
    text-align: center;
}

button {
    background-color: rgba(0, 0, 0, 0); 
    color: #d3f5ed;
    border: none;
}

i {
    font-size: 1.1rem;
}

.space {
    padding: 10px;
}

.leftAlign {
    /* float: left; */
    display:inline-block;
}

.rightAlign {
    /* display:inline-block; */
    float: right;
}

.hide {
    display: none;
}

.bigSize {
    font-size: 2rem;
}
