body {
    font-family: Montserrat;
    background-color: #1f5e50;
    height: 500px;
    width: 500px;
    color:#d3f5ed;
}

.clear {
    border: black;
    background-color: #ff7863;
    color: black;
    margin-top: 10px;
    margin-left: 20%;
    width: 20%;
    text-align: center;
}

.left_assign {
    text-align: right;
}

td {
    width: 150px;
    font-size: 13px;
    text-align: center;
}

button {
    background-color: rgba(0, 0, 0, 0); 
    color: #d3f5ed;
    border: none;
    outline: none;
}

.pause {
    background-color: yellow;
    color: black;
    margin-left: 20%;
    width: 20%;
    text-align: center;
}

.resume {
    background-color: greenyellow;
    color: black;
    margin-left: 20%;
    width: 20%;
    text-align: center;
}

i {
    font-size: 1.1rem;
}

.space {
    padding: 1px;
}

.leftAlign {
    display:inline-block;
}

.rightAlign {
    float: right;
}

.hide {
    display: none;
}

.bigSize {
    font-size: 1.5rem;
}
